body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.page-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar-div {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    
    flex-shrink: 0;
    box-sizing: border-box;
}

.nav-bar-left-items {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;

    color: #222;
}

.google-logo-div{
    flex-shrink: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.google-logo-picture-area{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.google-logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search-bar-div{
    max-height: 160px;

    flex-shrink: 0;
    box-sizing: border-box;

    padding: 20px;
}

.search-bar-form-area{
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

.search-bar-outer{
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search-bar-inner{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.bottom-area-div{
    flex-shrink: 0;
    box-sizing: border-box;

    flex-grow: 1;
}

.footer-area-div{
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

.search-image-1{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-image-2{
    margin:auto;
}

.search-image-span{
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;

    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: 
    relative;
    }

.search-image-svg{
    display: block;
    height: 100%;
    width: 100%;

    color: #9aa0a6;

    fill: currentColor;
    line-height: 24px;
}

.search-box-area{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search-box-area-2{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

.search-box-area-2-input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
