body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.page-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar-div {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    
    flex-shrink: 0;
    box-sizing: border-box;
}

.nav-bar-left-items {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;

    color: #222;
}

.google-logo-div{
    flex-shrink: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.google-logo-picture-area{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.google-logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.search-bar-div{
    max-height: 160px;

    flex-shrink: 0;
    box-sizing: border-box;

    padding: 20px;
}

.bottom-area-div{
    flex-shrink: 0;
    box-sizing: border-box;

    flex-grow: 1;
}

.footer-area-div{
    flex-shrink: 0;
    box-sizing: border-box;

    background: #f2f2f2;

}
